
<!-- 


 -->



    <div class="container">
        <div class="form col col-8">
    
            <div class="form-group row">
                <label class="col-4 form-group-label">Email: </label>
                <div class="col-8">
                    <input class="form-control" type="email" [(ngModel)]="model.email">
                </div>
            </div> 
            
            <div class="form-group row">
                <label class="col-4 form-group-label"> Username:</label>
                <div class="col-8">
                    <input class="form-control" type="text" [(ngModel)]="model.userName">
                </div>
            </div> 
            
            <div class="form-group row">
                <label class="col-4 form-group-label"> Password:</label>
                <div class="col-8">
                    <input class="form-control" type="password" [(ngModel)]="model.password">

                    <div *ngIf="retypePassword && !isPasswordStrong()" class="alert alert-danger">
                        Your password is too weak. Must have ...
                    </div>
                </div>
            </div>  
            
            <div class="form-group row">
                <label class="col-4 form-group-label"> Retype Password:</label>
                <div class="col-8">
                     <input class="form-control" type="password" [(ngModel)]="retypePassword">
                     <div *ngIf="model.password && retypePassword && model.password != retypePassword" class="alert alert-danger">
                        Passwords do not match
                    </div>
                </div>
            </div> 
            
            <div class="form-group row">
                <label class="col-4 form-group-label"> First Name:</label>
                <div class="col-8">
                    <input class="form-control" type="text" [(ngModel)]="model.firstName">
                </div>
            </div> 
            
            <div class="form-group row">
                <label class="col-4 form-group-label"> Last Name:</label>
                <div class="col-8">
                    <input class="form-control" type="text" [(ngModel)]="model.lastName">
                </div>
            </div>  
            
            <div class="form-group row">                
                <div class="col-8 offset-4">
                    <button (click)="save()" [disabled]="isDataCorrect()"
                     class="btn btn-info">Register User</button>

                    <span *ngIf="savedAlertVisible" class="alert alert-success">
                        The user has been registered!
                    </span>
                    
                </div>
            </div>  

        </div> <!-- end form -->
     </div> <!-- end row -->
    
    

