<h2>List of Registered users</h2>

<label>There are: {{users.length}} users</label>

<div>
    <table  id="container" class="table table-bordered">
        <thead>
            <tr>
                <th>Email</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.email}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>

            </tr>
        </tbody>
    </table>
</div>
<!-- <ul>
    <li *ngFor="let x of users">123123</li>
</ul> -->
<!-- <ul>
    <li *ngFor="let name of users">{{name}} </li>
</ul> -->

<!-- <div *ngFor="let userName of users">
    <h6>This is a user:</h6>
    <label>{{userName}}</label>
    <hr>
    <button>Dummy</button>
</div> -->

<!-- 
<input type="text" [(ngModel)]="todo">
<button (click)="saveTodo()">Register ToDo</button>
<button (click)= "resetArray()">Clear List</button>

<div *ngFor="let userName of users">
   
    <label>{{userName}}</label>
    
</div> -->