
h2{
    text-align: center;
    margin-top: 5rem;  
}
label{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#container{
    color: white !important;
    font-size: large;
}
p{
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
