

<div>
    <h2>Welcome to Kincardine</h2>
</div>

<br><br>
<p>You have found Ontario's Scottish destination. Idyllic surroundings, captivating lifestyle, 
    festive events, live theatre, and much more, have all amused and beguiled residents and visitors 
    of Kincardine for generations. Whether a casual stroll on our beach and scenic boardwalk, 
    an enchanting evening of fine dining in one of our many restaurants, or a relaxed, care free stay 
    in one of our quaint Bed & Breakfasts or motels, the Municipality of Kincardine is a place of 
    endless opportunity.

  </p>
