<div>
  <h2 class="heading">Welcome to Kincardine</h2>
</div>

<p>You have found Ontario's Scottish destination. Idyllic surroundings, captivating lifestyle,
  festive events, live theatre, and much more, have all amused and beguiled residents and visitors
  of Kincardine for generations. Whether a casual stroll on our beach and scenic boardwalk,
  an enchanting evening of fine dining in one of our many restaurants, or a relaxed, care free stay
  in one of our quaint Bed & Breakfasts or motels, the Municipality of Kincardine is a place of
  endless opportunity.
</p>

<h2 class="heading">Lake Huron - Kincardine</h2>

<p class="bord">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, provident optio? Tempore expedita omnis rem voluptate
  repudiandae autem ullam dignissimos ducimus fugiat culpa nobis laborum deserunt, illum porro. Nihil, aliquid!
  <br><br>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, provident optio? Tempore expedita omnis rem voluptate
  repudiandae autem ullam dignissimos ducimus fugiat culpa nobis laborum deserunt, illum porro. Nihil, aliquid!
  <br>
  <a href="https://visitkincardine.ca/" class="button" target="_blank" rel="noopener">Read more</a>
</p>

