.site-footer{
    background: #f0f0f0;
    height: 6vh;
    font-size: 1rem;
    color: black;
    width: 80%;
    margin-right: auto;
    margin-left: auto;   
    text-align: center;     
    padding-top: 0.2rem;
    border-radius: 0.5rem;
    position: relative;
    bottom: 0;    
    left: 0;
    right: 0;

}
.outlet{
    font-size: 3rem;
    font-variant-ligatures: no-historical-ligatures;
    color: rgba(238, 77, 13, 0.959);
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 20rem;
}