div{
    padding: 10px 20px;
    border: 0.05rem solid rgb(243, 239, 239);   
    border-radius: 0.5rem; 
} 
.input-text{
    width: 40%;  
    font-size: larger;  
}
#container{
    border:1px solid rgba(233, 76, 4, 0.945);
    box-shadow: -2px 3px 3px rgba(235, 159, 140, 0.979);
    padding: 1rem;
    margin-top: 3rem;   
    margin-bottom: 5rem; 
    border-radius: 0.8rem;
    width: 60%;    
    color: white;
    font-size: 1.5rem;
    margin-left: 20%;
}
.centering-elements{
    margin-left: 10rem;
    
}
.form-section{
    width: 50%;
} 
p{
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
h3{
    font-weight: 500;
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    
}

